<div class="w-9 mx-auto">
  <p-carousel
    *ngIf="!isLoading"
    [value]="games"
    [numVisible]="2"
    [circular]="false"
  >
    <ng-template let-game pTemplate="item">
      <div class="relative h-[250px] md:h-[350px] group">
        <img
          [src]="game.cover"
          [alt]="game.title"
          class="w-full h-full object-cover object-center group-hover:scale-105 transition-transform duration-300"
        />
        <div
          class="absolute bottom-0 left-0 right-0 p-4 bg-gradient-to-t from-black/90 to-transparent"
        >
          <h2
            class="text-3xl md:text-4xl font-bold bg-gradient-to-r from-amber-400 to-rose-600 text-transparent bg-clip-text"
          >
            {{ game.title }}
          </h2>
          <p-button
            label="Comprar - {{ game.price | currency }}"
            icon="pi pi-arrow-right"
            styleClass="mt-2 bg-gradient-to-r from-amber-500 to-pink-600 border-none"
          ></p-button>
        </div>
      </div>
    </ng-template>
  </p-carousel>

</div>
